In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
654,tt1007028,24000000,42105111,Zack and Miri Make a Porno,Seth Rogen|Elizabeth Banks|Jennifer Schwalbach...,Kevin Smith,What would you do to get out of debt?,Lifelong platonic friends Zack and Miri look t...,102,Comedy,Blue Askew|View Askew Productions,9/18/2008,6.0,2008
198,tt2980648,22000000,88880821,The Hundred-Foot Journey,Helen Mirren|Manish Dayal|Om Puri|Charlotte Le...,Lasse HallstrÃ¶m,Life's greatest journey begins with the first ...,A story centered around an Indian family who m...,122,Drama,Amblin Entertainment|Harpo Films|Participant M...,8/6/2014,7.2,2014
999,tt1605630,50000000,234989584,American Reunion,Jason Biggs|Alyson Hannigan|Seann William Scot...,Jon Hurwitz|Hayden Schlossberg,Save the best piece for last.,The characters we met a little more than a dec...,113,Comedy,Universal Pictures,4/4/2012,6.0,2012
842,tt1622547,28000000,40547440,30 Minutes or Less,Jesse Eisenberg|Danny McBride|Aziz Ansari|Bian...,Ruben Fleischer,A lot can happen in 30 minutes.,Two fledgling criminals kidnap a pizza deliver...,83,Action|Comedy|Adventure,Columbia Pictures,8/11/2011,5.5,2011
721,tt0780504,15000000,76175166,Drive,Ryan Gosling|Carey Mulligan|Christina Hendrick...,Nicolas Winding Refn,There are no clean getaways.,A mysterious Hollywood stuntman who moonlights...,100,Drama|Action|Thriller|Crime,Bold Films|Marc Platt Productions|Odd Lot Ente...,1/10/2011,7.3,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# Добавим столбец profit, в котором будет храниться значение прибыльности фильма
data['profit'] = data.revenue - data.budget
# Добавим функцию для преобразования строк в списки
def stringtolist(string):
    return string.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
#+# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' #+

In [9]:
display(data[data['runtime'] == data['runtime'].max()]['original_title'].values[0])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #+
display(data[data['runtime'] == data['runtime'].min()]['original_title'].values[0])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = 110 #+
display(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = 107 #+
display(round(data.runtime.median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)' #+
display(data[data['profit'] == data['profit'].max()]['original_title'].values[0])

'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #+
display(data[data['profit'] == data['profit'].min()]['original_title'].values[0])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = 1478 #+
display(data[data['profit'] > 0].count()['profit'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = 'The Dark Knight' #+
display(data[data['release_year'] == 2008].query('revenue == revenue.max()').original_title)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = 'The Lone Ranger' #+
display(data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].query('profit == profit.min()').original_title)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' #+
data['list_genres'] = stringtolist(data['genres'])
temp_list = []
for i in range(len(data)):
    for j in data['list_genres'][i]:
        temp_list.append(j)
Counter(temp_list).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = 'Drama' #+
data2 = data.copy()
data2.genres = data2.genres.str.split("|")
data2 = data2.explode('genres', 'profit')
temp_list = []
for i in range(len(data2)):
    if data2['profit'][i] > 0:
        temp_list.append(data2['genres'][i])
Counter(temp_list).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = "Peter Jackson" #+
directors = set(data.director.str.split('|').sum())
display(pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False).head(1))

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = "Robert Rodriguez" #+
display(data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = "Chris Hemsworth" #+
colomns = ['cast','revenue']
data2 = data.query('release_year == 2012')[colomns].copy()
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')
data2 = data2.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',
                                                         ascending=False)
display(data2.revenue.idxmax())

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
answers['16'] = "Matt Damon" #+
colomns = ['cast','budget']
data2 = data[colomns].copy()
data2 = data2[data2['budget'] > data2.budget.mean()]
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')
display(data2.cast.value_counts().idxmax())

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = "Action" #+
colomns = ['cast','genres']
data2 = data[colomns].copy()
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')
data2 = data2[data2.cast == 'Nicolas Cage']
data2['genres'] = data2.genres.str.split('|')
data2 = data2.explode('genres')
display(data2.genres.value_counts().idxmax())

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
answers['18'] = "K-19: The Widowmaker" #+
colomns = ['production_companies','profit','original_title']
data2 = data[colomns].copy()
data2['production_companies'] = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')
data2 = data2[data2['production_companies'] == 'Paramount Pictures']
display(data2[data2['profit'] == data2.profit.min()].original_title)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = "2015" #+
group = data.groupby(['release_year'])[['revenue']].sum()
display(group[group['revenue'] == group.revenue.max()])

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
answers['20'] = "2014" #+
splited_companies = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')
data2 = splited_companies[splited_companies.production_companies.str.match("Warner Bros")]
group = data2.groupby(['release_year'])[['profit']].sum()
display(group[group['profit'] == group.profit.max()])

                  profit
release_year
2014          2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = "9" #+
data2 = data.copy()
data2['release_date'] = data2.release_date.str.split('/')
for i in range(len(data2)):
    data2['release_date'][i].pop(1)
    data2['release_date'][i].pop(1)
display(data2['release_date'].mode()[0])

['9']

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = "450" #+
data2 = data.copy()
data2.release_date = pd.to_datetime(data2.release_date)
display(len(data2[data2.release_date.dt.month.isin([6, 7, 8,])]))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = "Peter Jackson" #+
data2 = data.copy()
data2.release_date = pd.to_datetime(data2.release_date)
display(data2[data2.release_date.dt.month.isin([12, 1, 2])].director.str.split('|').explode('director').value_counts())

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Nancy Meyers         4
                    ..
Jesse Dylan          1
Jonathan Levine      1
Thor Freudenthal     1
David Moreau         1
Geoffrey Sax         1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = "Four By Two Productions" #+
data2 = data.copy()
data2['title_length'] = data2['original_title'].map(lambda x: len(x))
companies = data2['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data2['title_length'][data2['production_companies'].map(lambda x: True if comp in x else False)].mean()
display(sum_gen.sort_values(ascending=False).head(1))

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = "Midnight Picture Show" #+
data2 = data.copy()
data2['overview_length'] = data2['overview'].map(lambda x: len(x))
data2.production_companies = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')
display(data2.groupby('production_companies')['overview_length'].mean().idxmax())

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = "Inside Out, The Dark Knight, 12 Years a Slave" #+
display(data.loc[(data['vote_average'] > np.percentile(data['vote_average'],99))].original_title)

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
answers['27'] = "Daniel Radcliffe, Rupert Grint" #+
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
display(pairs.most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27